<nav class="navbar navbar-expand-md navbar-dark bg-dark">

  <a class="navbar-brand" href="/">Meeting Scheduler</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

    <span class="navbar-toggler-icon"></span>

  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">

      <li class="nav-item">

        <a class="nav-link" (click)="goBack()">Go Back</a>

      </li>

    </ul>

  </div>

</nav>
<br />
<div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="alert==true">
  <strong>Hi</strong> You have a meeting in less than a minute.


  <button type="button" class="close btn btn-secondary btn-sm close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">Ignore</span>
  </button>
  <button class="btn btn-secondary btn-sm close" type="button" style="margin-right:120px" (click)="alertClientAgain()">
    <span>Snooze</span>
  </button>



</div>
<div class="container">
  <div class="row" style="text-align:left">
    <h1 style="text-align: center;">Meeting Details</h1>
    <div class="col-md-12">
      <br />
      <br />
      <form #createBlogForm="ngForm">

        <div class="form-group">


          <label class="label">Meeting Purpose:</label>
          <p class="comp">{{purpose}}</p>
        </div>
        <hr />

        <div class="form-group">
          <label class="label">Meeting Place:</label>
          <p class="comp">{{place}}</p>
        </div>
        <hr />
        <div class="form-group">
          <label class="label">Meeting Time:</label>
          <p class="comp">{{time}}</p>
        </div>
        <hr />
        <div class="form-group">
          <label class="label">Admin Name:</label>
          <p class="comp"> {{adminName}}</p>
        </div>
        <hr />
      </form>
      <br />
      <div class="container" style="text-align:center" *ngIf="isAdmin==true">
        <div class="row">
          <div class="col-md-6">
            <button type="submit" class="btn  btn-block btn-outline-primary"
              (click)="editMeetingFunction()">Edit</button>
            <br />
          </div>

          <div class="col-md-6">

            <button type="submit" class="btn btn-block btn-outline-danger"
              (click)="deleteMeetingFunction()">Delete</button>
            <br />
          </div>
        </div>
      </div>
    </div>

  </div>

</div>